 ../../.ICEauthority
        ../../.bash_history
        ../../.bash_logout
        ../../.bashrc
        ../../.cache/
        ../../.config/
        ../../.gitconfig
        ../../.gitignore
        ../../.gnupg/
        ../../.local/
        ../../.mozilla/
        ../../.npm/
        ../../.nvm/
        ../../.oh-my-zsh/
        ../../.pki/
        ../../.profile
        ../../.ssh/
        ../../.sudo_as_admin_successful
        ../../.thunderbird/
        ../../.vscode/
        ../../.wget-hsts
        ../../.yarnrc
        ../../.zcompdump
        ../../.zcompdump-marcos-desktop-5.4.2
        ../../.zhsrc
        ../../.zsh_history
        ../../.zshrc
        ../../.zshrc.pre-oh-my-zsh
        ../../0/
        ../../Biblioteca do calibre/
        ../1st Module/
        ../2nd Module/
        ../ES6UDEMY/
        ../frontend/
        ../js RocketSeat/
        ../www/
        ../../Downloads/
        ../../Pictures/
        ../../Videos/
        ../../axios/
        ../../bootcamp
        ../../desafio-react/
        ../../git/
        ../../gitExample/
        ../../gostack-template-conceitos-reactjs/
        ../../insomnia/
        ../../live_git/
        ../../lotion/
        ../../project1/
        ../../qtorrent/
        ../../sdwefcrfv/
        ../../snap/
        ../../unform/
        ../../utorrent-server-alpha-v3_3/